@charset "UTF-8";
div {
  content: template;
}

/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "游ゴシック", "Yu Gothic", "游ゴシック体", YuGothic, sans-serif;
  background-color: #f9fff2;
}

.font {
  font-family: 'Montserrat', sans-serif;
}

.page-top {
  position: fixed;
  right: 45px;
  bottom: 45px;
  z-index: 1;
  display: none;
}

@media (max-width: 768px) {
  .page-top {
    right: 20px;
    bottom: 20px;
  }
}

.page-top__link {
  display: block;
  width: 50px;
  height: 50px;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  color: black;
  border-radius: 50%;
  background-color: green;
}

.page-top__link:hover {
  opacity: .8;
}

.input-area {
  margin-bottom: 20px;
}

.input-area .input-title {
  font-weight: bold;
  font-size: 17px;
}

input[type="text"], input[type="email"], select {
  height: 30px;
  border: 1px solid #3e3e3e;
  font-size: 14px;
  padding: 0 5px;
}

.radio-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.radio-area label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  margin-right: 10px;
}

input[type="radio"] {
  font-size: 14px;
}

textarea {
  width: 300px;
  border: 1px solid #3e3e3e;
  font-size: 14px;
  padding: 5px;
}

.btn-submit {
  display: inline-block;
  max-width: 180px;
  text-align: left;
  border: 2px solid #9ec34b;
  font-size: 15px;
  color: #9ec34b;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 4px;
  -webkit-transition: .4s;
  transition: .4s;
}

.btn-submit:hover {
  background-color: #9ec34b;
  border-color: #cbe585;
  color: #FFF;
}

div {
  content: footer;
}

.main {
  position: relative;
}

.create-form {
  margin: 20px 0;
}

.content-wrapper {
  width: 1100px;
  margin: 0 auto;
  margin-top: 40px;
}

.board-content {
  position: relative;
}

.board {
  margin-top: 20px;
}

.board-wrap {
  display: inline-block;
  width: 200px;
  height: auto;
  margin: 0 4px;
}

.board-list {
  background-color: #ebecf0;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-height: 100%;
  position: relative;
  white-space: normal;
  width: 100% !important;
}

.add-card {
  background-color: #0079bf;
  color: #fff;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 40%;
  padding: 5px 3px;
  border: 1px solid #fff;
  font-size: 12px;
  margin-top: 10px;
}
