div {
  content: template;
}

// デバイスサイズ
$pc: 1024px; // PC
$tab: 768px; // タブレット
$sp: 375px; // スマホ

@mixin pc {
  @media (max-width: ($pc)) {
    @content;
  }
}

@mixin tab {
  @media (max-width: ($tab)) {
    @content;
  }
}

@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "游ゴシック", "Yu Gothic", "游ゴシック体", YuGothic, sans-serif;
}

.font {
  font-family: 'Montserrat', sans-serif;
}

.content-wrapper {
  max-width: 1100px;
  margin: 0 auto;
}
